body 
{
    margin:0;
    padding:0;
}


@media (max-width:992px) {
    .news-card--wrapper ul li 
    {
        flex-basis: calc(33.33% - -121px);
    }
    .haboutus--content h1 {
     
        font-size: 40px;
        padding: 5px;
       
    }
    .haboutus--content p 
    {
        font-size: 16px;
    }
    .haboutus--img img 
    {
        height: 280px;
    }
   
  }


  @media (max-width:900px) {
    .haboutus--content 
    {
        text-align: center;
    }
    .haboutus--img img 
    {
        margin:auto;
    }
    .copyright
    {
        display: none;
    }
    .contactlocation--wrapper{
        padding-bottom: 10px;
    }
    .contactlocation--wrapper form 
    {
        margin-top: 20px;

    }
  }

@media (max-width:792px) {
    .navbar--wrapper li 
    {
      font-size: 15px;
      padding:2px 10px;
    }

    .ourstory--img img {
        height: 400px;
        margin:auto;
        display: flex;
    }
    .ourstory--content
    {
        text-align: center;
    }
    .mainContactus--img img
    {
     height: 300px;
    }
    .news-card--wrapper ul 
    {
        display: unset;
    }
  }

  @media (max-width:520px)
  {
    .mainContactus--img img{
        height: 220px;
    }
  }

